<div class="page">
  <%= image_tag "profile.jpg", class: "page__profile_image" %>

  <div class="page__content">
    <h1>Hey, I'm Rubén Moya</h1>
    <p>This is the week 2 of the <a href="http://twitter.com/mackenziechild">Mackenzie</a> 12 Weeks Challenge</p>
    <p>This week he built a blog in Rails 4.</p>
  </div>
</div>
