<% @posts.each do |post| %>
  <div class="post">
    <h2 class="post__title"><%= link_to post.title, post %></h2>
    <p class="post__date"><%= post.created_at.strftime("%B, %d, %Y") %></p>
  </div>
<% end %>
