.btn {
  outline: none;
  background: transparent;
  border: 1px solid #d6dce0;
  padding: .5em 1.5em;
  border-radius: 1.5em;
  &:hover {
    border: 1px solid #33acb7;
    color: #33acb7;
    a {
      color: #33acb7 !important;
    }
  }
}

.btn--header {
  @extend .btn;
  font-size: .8em;
  margin-left: .5em;
  margin-top: -6px;
}
