/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require_self
 */

@import 'reset';
@import 'components/forms';
@import 'components/buttons';
@import 'components/header';
@import 'components/sidebar';
@import 'components/navigation';
@import 'posts';
@import 'comments';

html, body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.main_content {
  margin-left: 250px;
}

.page_wrapper {
  padding: 3em;
}

.profile_image {
  width: 300px;
  float: left;
  margin-right: 2em;

  img {
    width: 100%;
    border-radius: 0.35em;
  }
}

.content {
  h1 {
    font-weight: 500;
  }
  p {
    font-size: 1.1em;
    line-height: 1.75;
  }
  a {
    color: #33acb7;
    font-weight: 700;
    text-decoration: none;
  }
}

.links {
  margin: 2em 0;
}


