.post-list {
  padding: 3em;
  border-bottom: 1px solid #d6dce0;
}

.post-list__title {
  margin: 0;
  font-weight: 500;
  text-decoration: none;
  color: #2a2f35;
  font-size: 1.5em;
  &:hover {
    color: #33acb7;
  }
}

.post-list__date {
  color: #9eafba;
  margin: .5em 0 0 0;
}

.post {
  padding: 1em 3em;
}
.post__title {
  font-weight: 500;
  text-decoration: none;
  color: #2a2f35;
  font-size: 2.5em;
  margin-bottom: 0;
}
.post__body {
  font-size: 1.1em;
  line-height: 1.75;
}

.post__date {
  color: #9eafba;
  margin: .5em 0 2em 0;
}

.comment {
  border-bottom: 1px solid #d6dce0;
  padding: 1.5em 2em;
}
.comment__title {
  margin: 3em 0 1em 0;
  border-bottom: 1px solid #d6dce0;
  padding-bottom: 0.5em;
}
.comment__subtitle {
  margin-top: 2em;
}

.comment_content {
  float: left;
}

.comment__name {
  margin: 1em 0 0 0;
  font-size: 0.7em;
  text-transform: uppercase;
}

.comment__body {
  font-size: 1.2em;
  margin: 0.2em 0 0 0;
}

.comment__time {
  margin-top: 1.2em;
  font-size: .8em;
}
